on early-init
    write /proc/sys/kernel/sched_stune_graph_check 1

on init
    # Configuração de CPUsets (ajuda na bateria e performance)
    mkdir /dev/cpuset/foreground
    copy /dev/cpuset/cpus /dev/cpuset/foreground/cpus
    copy /dev/cpuset/mems /dev/cpuset/foreground/mems
    mkdir /dev/cpuset/background
    copy /dev/cpuset/cpus /dev/cpuset/background/cpus
    copy /dev/cpuset/mems /dev/cpuset/background/mems

on boot
    # Permissões para a GPU Mali
    chmod 0666 /dev/mali0
    chown system graphics /dev/mali0

    # Configuração do agendador de tarefas (Sched)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

on post-fs-data
    # Caminhos de logs da MediaTek
    mkdir /data/vendor/log 0771 system system
    mkdir /data/vendor/log/mtklog 0771 system system

service vendor.mtk_adsprpcd /vendor/bin/adsprpcd
    class main
    user system
    group system
    oneshot
