#
# Copyright (C) 2026 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

/dev/block/by-name/super         0600   root       root
/dev/block/by-name/userdata      0600   root       root
/dev/block/by-name/metadata      0600   root       root
/dev/block/by-name/efs           0600   root       root
/dev/block/by-name/param         0600   root       root
/dev/block/by-name/para          0600   root       root
/dev/block/by-name/vendor_boot   0600   root       root
