type hal_graphics_allocator, domain;
type hal_graphics_allocator_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(hal_graphics_allocator)
hal_server_domain(hal_graphics_allocator, hal_graphics_allocator)
